langchain==0.1.0
langgraph==0.0.20
langchain-openai==0.0.5
streamlit==1.30.0
openai==1.10.0
faiss-cpu==1.7.4
chromadb==0.4.22
sentence-transformers==2.3.1
easyocr==1.7.0
openai-whisper==20231117
sympy==1.12
numpy==1.26.3
pandas==2.1.4
python-dotenv==1.0.0
pillow==10.2.0
pydub==0.25.1
langchain_groq
langchain_huggingface
